<div class="top-menu">
	<div class="navigation">
		<img class="ico-navigation2" src="../../assets/img/navigation.svg" alt="">
		<img class="ico-navigation1" src="../../assets/img/circle.svg" alt="">
		<div class="text-navigation">
			<p>Волгоградская область</p>
		</div>
	</div>

	<div class="menu">
		<nav >
			<ul class="navigation-menu">
				<li class="tenders">
					<a href="#tenders">Тендеры</a>
				</li>
				<li class="podryadchik">
					<a href="#podryadchik">База подрядчиков</a>
				</li>
				<li class="services">
					<a href="#sevices">Другие сервисы</a>
					<img src="../../assets/img/add-menu.svg" alt="">
				</li>
			</ul>
		</nav>
	</div>
</div>
<div class="line"></div>
