@import "../../assets/styles/mixins";
@import "../../assets/styles/variables";

.top-menu {
	position: absolute;
	width: 100vw; //1280px;
	height: 2.5vw; //32px
	left: 0px;
	top: 0px;
	display: flex;
	background: #FAFBFC;

	.navigation {
		width: $h156;
		height: $h20;
		margin: $h6 $h630 $h6 $h87;
		display: flex;

		img.ico-navigation1 {
			position: absolute;
			width: $h4; //4px;
			height: 0.30703125vw; //3.93px;
			left: 7.109375vw; //91px;
			top: 0.99453125vw; //12.73px;
		}
		img.ico-navigation2 {
			position: absolute;
			width: $h12;// 12px;
			height: 1.125vw; //14.4px;
			left: 6.796875vw; //87px;
			top: 0.6875vw; //8.8px;
		}
		.text-navigation {
			position: absolute;
			width: 10.625vw; //136px;
			height: $h20; //20px;
			left: 8.359375vw; //107px;
			top: $h6;
		}
		.text-navigation p {

			@include parag;
			margin: 0;

		}
	}
	.menu {
		width: 25vw;
		height: $h32;

		nav.navigation-menu {
			position: absolute;
			//margin: $h6 $h87 $h6 0;
			display: flex;
			@include parag;
			//@include parag;
			.tenders {
				width: $h52;
				height: $h20;
				//margin-right: $h24;
				margin: $h6 $h24 $h6 0;
			}
			.podryadchik {
				width: $h108;
				height: $h20;
				//margin-right: $h24;
				margin: $h6 $h24 $h6 0;
			}
			.services {
				width: $h94;
				height: $h20;
				margin: $h6 0.5078125vw $h6 0;
				//margin-right: 0.5078125vw;
			}
			// img.add-menu-icon {
			// 	width: $h10;
			// 	height: $h6;
			// }
			img.menu-icon {
				width: $h10;
				height: $h6;
				margin: 1.15234375vw 0 0.99609375vw 0;
				// .menu-icon {
				// 	width: $h10;
				// 	height: $h6;
				// 	margin: 1.15234375vw 0 0.99609375vw 0;
				// }
			}

			// a {
			// 	text-decoration: none;
			// 	@include parag;
			// }
		}
		// ul.navigation-menu {
		// 	display: flex;
		// 	flex-wrap: wrap;
		// 	padding-inline-start: 0;


		// 	li.tenders {
		// 		width: $h52;
		// 		margin-right: $h24;
		// 	}
		// 	li.podryadchik {
		// 		//width: $h108;
		// 		margin-right: $h24;
		// 	}
		// 	li.services {
		// 		//width: $h94;
		// 		//margin-right: $h24;
		// 	}
		// 	li.add-menu {
		// 		//position: absolute;
		// 		//margin: 1.15234375vw 89.5px 12.75px 1181.5px;
		// 		margin-left: 0.5078125vw;

		// 		img.add-menu-icon {
		// 			width: 0.3515625vw;
		// 			height: 0.703125vw;
		// 		}
		// 	}

		// 	li {
		// 		list-style-type: none;
		// 		height: $h20;

		// 		a {
		// 			text-decoration: none;
		// 			@include parag;
		// 		}

		// 	}
		// 	img{
		// 		margin-left: 0.5078125vw;
		// 	}
		// }
	}
}
.line {
	width: 100vw;
	background: #d8d8d8;
	padding: 0;
	margin: 0;
	// padding-bottom: $h1;
	// border-bottom: $h1 solid #d8d8d8;
	position: absolute;
	border: $h1 solid #ECEFF1;
	left: 0;
	top: $h32;
}
