@import "../../../../assets/styles/mixins";
@import "../../../../assets/styles/variables";

.ng-select.search-input {
	position: absolute;
	width: $h526;
	height: $h40;
	background: #FFFFFF;
	border: $h1 solid #ECEFF1;
	box-sizing: border-box;
	border-radius: $h4;
}
