$h1: 0.078125vw;
$h4: 0.3125vw;
$h5: 0.390625vw;
$h6: 0.46875vw;
$h7: 0.546875vw;
$h8: 0.625vw;
$h10: 0.78125vw;
$h12: 0.9375vw;
$h14: 1.09375vw;
$h15: 1.171875vw;
$h16: 1.25vw;
$h18: 1.40625vw;
$h20: 1.5625vw;
$h24: 1.875vw;
$h26: 2.03125vw;
$h32: 2.5vw;
$h40: 3.125vw;
$h44: 3.4375vw;
$h51: 3.984375vw;
$h52: 4.0625vw;
$h56: 4.375vw;
$h75: 5.859375vw;
$h79: 6.171875vw;
$h86: 6.71875vw;
$h87: 6.796875vw;
$h108: 8.4375vw;
$h111: 8.671875vw;
$h156: 12.1875vw;
$h325: 25.390625vw;
$h526: 41.09375vw;
$h630: 49.21875vw;
$font12: 0.9375vw;
$colormenu: #708598;
